html
 head
  title Include Examples
  include includes/style.css
 body
  include includes/header.jade
  include includes/content.md
 p ... and there is something original from the Jade file.
  include includes/footer.html
  include includes/script.js
